<!-- Form used to add new entries of patient in database -->
<form class="form-horizontal alert alert-info" name="patientList" id="patientForm" ng-submit="insertInfo(patientInfo);" hidden>
<h3 class="text-center">Insert patient Details</h3>
	<div class="form-group">
		<label for="firstname">patient First Name:</label>
		<input type="text" name="firstname" class="form-control" placeholder="Enter patient first name" ng-model="patientInfo.firstname" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="patientList.firstname.$invalid && patientList.firstname.$dirty">First Name field is Empty!</p>
	</div>
	<div class="form-group">
		<label for="lastname">patient Last Name:</label>
		<input type="text" name="lastname" class="form-control" placeholder="Enter patient last name" ng-model="patientInfo.lastname" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="patientList.lastname.$invalid && patientList.lastname.$dirty">Last Name field is Empty!</p>
	</div>
	<div class="form-group">
		<label for="age">Age:</label>
		<input type="number" name="age" class="form-control" placeholder="patient's age" ng-model="patientInfo.age" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="patientList.age.$invalid && patientList.age.$dirty">Invalid Age</p>
	</div>
		<div class="form-group">
		<label for="dob">Date of birth:</label>
		<input type="date" name="dob" class="form-control" placeholder="patient's dob" ng-model="patientInfo.dob" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="patientList.dob.$invalid && patientList.dob.$dirty">Invalid Age</p>
	</div>
	<div class="form-group">
		<label for="gender">Gender:</label>
		<label for="" class="radio-inline gender">
			<input type="radio" name="gender" value="male" ng-model="patientInfo.gender">Male
		</label>
		<label for="" class="radio-inline gender">
			<input type="radio" name="gender" value="female" ng-model="patientInfo.gender">Female
		</label>
	</div>
	
	<div class="form-group">
		<label for="phone">Phone No:</label>
		<input type="text" name="phone" class="form-control" placeholder="Enter patient phone no" ng-model="patientInfo.phone" autofocus required />		
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="patientList.phone.$invalid && patientList.phone.$dirty">Phone number field is Empty!</p>
	</div>
	<div class="form-group">
		<label for="free_text">Free text:</label>
		<textarea ng-model="patientInfo.free_text" class="form-control" rows="5" id="free_text"></textarea>
	</div>
	<div class="form-group">
		<button class="btn btn-warning" ng-disabled="patientList.$invalid">Submit</button>
	</div>
</form>